/* ===== LOCAL FONTS ===== */
/* Charm */
@font-face {
  font-family: "Charm";
  src: url("./fonts/Charm/Charm-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Charm";
  src: url("./fonts/Charm/Charm-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Hurricane */
@font-face {
  font-family: "Hurricane";
  src: url("./fonts/Hurricane/Hurricane-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Noto Sans JP */
@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Noto Sans JP";
  src: url("./fonts/Noto_Sans_JP/NotoSansJP-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* ===== TAILWIND ===== */
@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden;
  width: 100%;
}

.slider {
  border-radius: 4px;
  height: 28rem;
  width: 50%;
  min-width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Styles for devices with a screen width of 600px or more (e.g., large phones, portrait tablets) */
@media screen and (min-width: 600px) {
  .slider {
    border-radius: 4px;
    /* height: 10rem; */
    width: 50%;
    min-width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}

/* Styles for devices with a screen width of 768px or more (e.g., landscape tablets) */
@media screen and (min-width: 768px) {
  .slider {
    border-radius: 4px;
    height: 22rem;
    min-width: 40%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}

/*From perplexity*/
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.arrow-icons {
  gap: 3rem;
  width: 50%;
  height: 3rem;
  display: flex;
  bottom: 10px;
  position: relative;
  justify-content: center;
}

.icon-arrow-right {
  display: flex;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #16447a;
}

.icon-arrow-left {
  display: flex;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #16447a;
}

.observer {
  top: 0;
  z-index: 30;
  position: sticky;
  border-bottom: 1px solid #e9cf5c;
}

.footer-divider {
  border-top: 1px white solid;
  padding-top: 10px;
}
