

html {
  scroll-behavior: smooth;
}

.no-scroll {
  overflow: hidden; 
  width: 100%; /
}

.slider {
  border-radius: 4px;
  height: 28rem;
  width: 50%;
  min-width: 90%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/* Styles for devices with a screen width of 600px or more (e.g., large phones, portrait tablets) */
@media screen and (min-width: 600px) {
  .slider {
    border-radius: 4px;
    /* height: 10rem; */
    width: 50%;
    min-width: 70%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}

/* Styles for devices with a screen width of 768px or more (e.g., landscape tablets) */
@media screen and (min-width: 768px) {
  .slider {
    border-radius: 4px;
    height: 22rem;
    /* width: 40%; */
    min-width: 40%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
  }
}

/*From perplexity*/
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.5s ease;
}

.arrow-icons {
  gap: 3rem;
  width: 50%;
  height: 3rem;
  display: flex;
  bottom: 10px;
  position: relative;
  justify-content: center;
}

.icon-arrow-right {
  display: flex;
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #16447a;
}

.icon-arrow-left {
  /* position: relative; */
  /* bottom: -1.5rem; */
  display: flex;
  /* justify-content: center; */
  cursor: pointer;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  background-color: #16447a;
}

.observer {
  top: 0;
  z-index: 30;
  position: sticky;
  border-bottom: 1px solid #e9cf5c;
}

.footer-divider{
  border-top: 1px white solid;
  padding-top: 10px;
}