/* .permanent-marker-regular {
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.damion-regular {
  font-family: "Damion", cursive;
  font-weight: 400;
  font-style: normal;
} */
